<form #listForm="ngForm">
  <div class="form-group">
    <label for="#titleInput">Title</label>
    <input
      type="text"
      #atitle="ngModel"
      name="title"
      class="form-control"
      id="titleInput"
      [class.is-invalid]="atitle.invalid && atitle.touched"
      [ngStyle]="inputClass"
      aria-describedby="emailHelp"
      placeholder="Enter Title"
      [(ngModel)]="title"
      required
    />
    <i class="text-danger" *ngIf="atitle.invalid && atitle.touched">
      Title is required</i
    >
  </div>
  {{ listForm.title }}
  <div class="form-group mt-4" *ngIf="isCard">
    <label for="desc">Description</label>
    <input
      #adesc="ngModel"
      type="text"
      [class.is-invalid]="adesc.invalid && adesc.touched"
      name="desc"
      [ngStyle]="inputClass"
      class="form-control"
      id="desc"
      aria-describedby="emailHelp"
      placeholder="Enter desc"
      [(ngModel)]="desc"
      required
    />
    <i class="text-danger" *ngIf="adesc.invalid && adesc.touched">
      Description is required</i
    >
  </div>

  <div mat-dialog-actions class="actions">
    <button mat-button mat-dialog-close class="btn btn-secondary close">
      Cancel
    </button>
    <button
      type="submit"
      mat-button
      mat-dialog-close
      [mat-dialog-close]="[title, desc]"
      class="btn btn-primary okay"
      [disabled]="listForm.invalid"
    >
      Add
    </button>
  </div>
</form>
